<div style="background: url('/img/charlotte.jpg') no-repeat top center; background-size: cover; width: 100%; height: 600px"></div>

<div class="container" style="padding: 40px 0; max-width: 800px">
<div class="row">
    <div class="col-md-6 text-center">
        <h3 style="padding-bottom: 1.2em">Kimpton Tryon Park Hotel</h3>

        <p>303 S Church St<br>
        Charlotte, NC 28202</p>

        <p style="min-height: 85px">
A chic and modern boutique hotel in the heart of Uptown, Charlotte's business district.
        </p>

        <p>
            You can make reservations online by clicking
<strong><a href="https://www.kimptonhotels.com/redirect?path=asearch&brandCode=KI&localeCode=en&regionCode=1&hotelCode=CLTKM&checkInDate=29&checkInMonthYear=022019&checkOutDate=31&checkOutMonthYear=022019&numberOfAdults=2&numberOfRooms=1&rateCode=6CBARC&_PMID=99801505&GPC=ECI&ratesordertype=rc&viewfullsite=true">here</a></strong>.</p>
 
<p>Alternatively, you may call the Kimpton Reservation Department at (888) 516-1612 and request the Ruby/Wohlfert Wedding Room Block.
        </p>

        <p>
            <a target="_blank" class="btn btn-primary" href="https://www.kimptonhotels.com/redirect?path=asearch&brandCode=KI&localeCode=en&regionCode=1&hotelCode=CLTKM&checkInDate=29&checkInMonthYear=022019&checkOutDate=31&checkOutMonthYear=022019&numberOfAdults=2&numberOfRooms=1&rateCode=6CBARC&_PMID=99801505&GPC=ECI&ratesordertype=rc&viewfullsite=true">Book Now</a>
        </p>
    </div>

       <div class="col-md-6 text-center">
         <h3 class="text-danger">Courtyard by Marriott<br>Charlotte City Center</h3>

        <p>
        237 S Tryon St<br>
        Charlotte, NC 28202
        </p>

                <p style="min-height: 85px">
Uptown Charlotte hotel situated in the heart of the entertainment district near shopping, dining and local attractions.</p>
    
     <p>
            You can make reservations online by clicking
<strong><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=RUBY%20WOHLFERT%20WEDDING%5Ecltup%60rwwrwwa%7Crwwrwwb%60169%60USD%60false%604%603/28/19%603/31/19%6002/20/2019&app=resvlink&stop_mobi=yes">here</a></strong>.</p>
 
<p>Alternatively, guests may call the Reservation Department at (888) 839-1758 and request the Ruby/Wohlfert Wedding Room Block.
        </p>

           <p>
            <a target="_blank" class="btn btn-danger" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=RUBY%20WOHLFERT%20WEDDING%5Ecltup%60rwwrwwa%7Crwwrwwb%60169%60USD%60false%604%603/28/19%603/31/19%6002/20/2019&app=resvlink&stop_mobi=yes">Book Now</a>
        </p>
    </div>
</div>
</div>