<img src="/img/big.jpg" class="main-image" />
<section class="padded text-center border-bottom">
    <h1 style="font-size: 52px">March 30th, 2019</h1>
    <div class="lead">Charlotte, NC</div>
</section>
<section class="padded">
<div class="container-sm content">
    <h2 class="text-center">Our Story</h2>
    <p>Charlotte and Jack were both born in 1994, the year The Lion King was released, and Amazon was founded.  Jack was the first-born Wohlfert child.  He was born in Wichita, KS and weighed a modest 7.6 lbs. - belying his future growth trajectory.  Charlotte arrived in South San Francisco a few months later, with a full head of white feathery hair, hence the nickname, “Fluffy”. 
</p>
<div class="images">
    <img src="/img/jack-baby.jpg" />
        <img src="/img/char-baby.jpg" />
</div>
<p>
In 2012, they both arrived on the campus of the University of North Carolina, Chapel Hill.  Jack moved a few hours across the state from Charlotte to pursue a degree in business. Charlotte ventured from the Bay Area, recruited to swim for the Tar Heels and was decidedly “undecided” in her academic calling. 
</p>
<p>
Charlotte first noticed Jack when he came to her sorority mixer as someone else’s date during the spring of their junior year.  Though they just chatted briefly Char definitely fell for Jack in his backwards navy baseball cap. They went their separate ways during the summer, but the next year when they arrived back on campus, Charlotte’s sorority had yet another cocktail party, and mutual friends Emma and Sean set them up for the AXO “Lazy Afternoon” cocktail.   They hit it off - ending the night with pizza (which would quickly become a tradition!) at Mellow Mushroom.
</p>
<div class="images">
<img src="/img/gallery/lazy.jpg" />
</div>
<div>
Char shared a picture from that party with her parents who asked,</div>
	<blockquote>“Are you dating this tall guy?”</blockquote>
<div>She replied</div>
<blockquote>“Ha, no, just a date, but I’d be lucky if I was.”</blockquote>
<p>
The fall party season provided a number of opportunities for repeat dates and as fall moved into winter, they officially became a couple.
</p>
<div class="images">
<img src="/img/gallery/newyears.jpg"/> 
</div>
<p>
Since Jack needed only 3 units to complete his degrees in Business Administration and Computer Science and Char was on her 4th major (finally deciding on Economics) and needed 16 credits to graduate, he had a lot more time on his hands and supported Char through a tough last semester.  He tutored her through an intro computer science class and spoiled her with his love of cooking.  His first meal for her:  homemade lasagna and asparagus. Char and Jack bonded over many meals, workouts at the Student Rec Center, inner-tube water polo, hanging out with friends at Top of the Hill and of course, Tar Heel basketball!
</p>
<div class="images">
<img src="/img/gallery/march.jpg" />
</div>
<p>
Surviving (barely) the Tar Heels buzzer-loss in the 2016 NCAA finals, then celebrating their comeback championship in 2017 after they had both moved to Charlotte to work, Char and Jack officially closed out their happy Tar Heel college memories.
</p>
<div class="images">
<img src="/img/gallery/natty.jpg" />
</div>
<p>
Meanwhile, Jack began getting to know the Rubys and Char the Wohlfert family.  After getting over the fact that Jack was nearly a foot taller than any other Ruby family member, Michele and Tom were quickly drawn to his thoughtful, good-natured manner and his obvious affection for Char. They loved hearing about CommuniGift (now called Daymaker), the start-up he co-founded at UNC, as it secured funding and launched.  Meanwhile, the Wohlferts got to know Char as she enjoyed vacations with them at their beach home in Atlantic Beach, NC.  Jon and Kristin welcomed her warmly and Charlotte and Kristin quickly bonded over their commitment to Orange Theory workouts and Chardonnay.  
</p>
<p>
The realization that they were meant to be together took root slowly and steadily as they spent more time together and began to build their life in Charlotte.
</p>
<p>
Now their time is spent making wedding decisions, getting Jack settled into the new home he purchased in Plaza Midwood (Charlotte), worshipping and serving at Hope Church, and of course, hustling in their careers—Charlotte as a Sales Rep at PayCom and Jack, a Senior Software Engineer at Passport.
</p>
<p>
We are so excited for our wedding ceremony and the celebration to follow.  We look forward to having you with us! 
</p>

</div>

</section>